@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.theme_control {
  white-space: nowrap;

  button {
    position: relative;
    box-sizing: initial;
    vertical-align: text-bottom;
    border-radius: 42%;
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0 0.25rem;
    border: 3px solid transparent;
    display: inline-block;

    @include interactive(0.15rem, 42%);

    @media (hover: hover) {
      @include turbulence_static();

      &:hover {
        @include turbulence_animated();
      }
    }

    &.current_theme {
      @include themed() {
        border-color: t($color-secondary);
      }
    }
  }
}

.lightmode_button {
  color: value_by_theme("lightmode", $color-primary);
  background-color: value_by_theme("lightmode", $color-tertiary);
}
.darkmode_button {
  color: value_by_theme("darkmode", $color-primary);
  background-color: value_by_theme("darkmode", $color-tertiary);
}
