@use '../../index.scss' as *;

.posts_list_tile {
    @include boxshadow($accent-color-darker);
    cursor: pointer;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    background: $accent-color-lighter;
}
.posts_list_tile:hover {
    background: $accent-color-lightest;
}
.posts_list_tile:active {
    background: $accent-color;
}
