@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.toggle {
  display: flex;
  align-items: center;
  white-space: nowrap;

  @include interactive();

  & > input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + :last-child > span {
      @include themed() {
        background-color: t($color-primary);
      }

      &:before {
        transform: translateX(1.2rem);
      }
    }
  }

  & > :last-child {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.2rem;

    & > span {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3rem;

      @include themed() {
        background-color: t($color-tertiary);
        transition: 0.2s;
      }

      &::before {
        content: "";
        position: absolute;
        height: 0.8rem;
        width: 0.8rem;
        left: 0.2rem;
        bottom: 0.2rem;
        border-radius: 50%;

        @include themed() {
          background-color: t($color-quaternary);
          transition: 0.2s;
        }
      }
    }
  }

  & > :first-child {
    padding-right: 0.5rem;
  }

  & > :last-child {
    margin-left: auto;
  }
}
