@use '../../shared.scss' as *;

.pixijs {
    @include box_shadow($accent-color-darker);
    line-height: 0;
    background: #EEDDDD;

    &:fullscreen {
        background: #3D3333;
    }

    &>canvas {
        width: 100% !important;
    }
}
