@use '../../shared.scss' as *;
@use '../../themed.scss' as *;

.pixijs {
    line-height: 0;
    min-width: 0;
    
    @include card($color-light, true, false);
    background-color: #EEDDDD !important;

    &:fullscreen,
    &.fullscreen_fallback {
        
        @include card($color-background-container, true, true);

        @include themed(true) {
            background-color: t($color-background-container) !important;
        }
        
        border-radius: 0 !important;

        &>canvas {
            border-radius: 0 !important;
        }
    }
    
    &.fullscreen_fallback {
        position: fixed !important;
        inset: 0;
        z-index: 1;
    }

    &>canvas {
        width: 100% !important;
        border-radius: $roundness;
    }
}

.controls {
    margin-top: 2rem;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    @include card($color-light, true);

    &>button {
        margin: 1rem;
        touch-action: 'manipulation';
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
