@use '../../shared.scss' as *;

.card {
    @include wide_card($accent-color-lighter, $accent-color-darker);
    display: flex;
    flex-wrap: wrap;

    img {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    header {
        flex: 1 0;
        font-size: 1.2rem;
        
        h4 {
            margin: 0.5rem 0;
        }
    }

    footer {
        flex: 0 0 auto;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    p {
        flex: 0 0 100%;
        font-size: 0.9rem;
        border-top: 2px solid #BDBDBD;
        margin-top: 0;
        padding-top: 1rem;
    }
}

.card_clickable {
    @include interactive(
        0.4rem,
        $accent-color-darker,
        $accent-color-darkest,
        $accent-color-darker,
        $accent-color-darkest
    );
}
