@use '../../shared.scss' as *;

.card {
    @include wide_card($accent-color-lighter, $accent-color-darker);
    display: flex;
    flex-wrap: wrap;

    header {
        flex: 1 0;
        font-size: 1.2rem;
        text-decoration: underline;
        text-decoration-color: $accent-color-secondary;
        text-underline-offset: 2px;
        
        h4 {
            margin: 0.5rem 0;
        }
    }

    footer {
        flex: 0 0 auto;
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    p {
        flex: 0 0 100%;
    }
}

.card_clickable {
    @include interactable(
        0.4rem,
        $accent-color-darker,
        $accent-color-darkest,
        $accent-color-secondary,
        $accent-color-darkest
    );
}
