@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.layout {
  max-width: $md-breakpoint;
  margin: auto;

  & > main {
    margin: 0 1rem 2rem;
  }

  & > nav {
    position: relative;
    margin: 2rem 1rem;

    @include card($color-transparent, false);

    ul {
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;
      min-height: $navbar-height;

      @include is_larger_than($sm-breakpoint) {
        flex-direction: row;
        margin-right: calc($navbar-height + 0.75rem);
      }
    }

    li {
      height: $navbar-height;
      width: 100%;

      a {
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2rem;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        line-height: $navbar-height;

        @include themed() {
          color: t($color-quinary);
        }
      }
    }

    li.logo {
      z-index: 1;
      flex: 1;
      width: calc(100% - 5rem);
      margin: 0 2.5rem 1.7rem 2.5rem;

      @include is_larger_than($sm-breakpoint) {
        width: 100%;
        margin: 0;
      }

      a {
        width: 100%;
        white-space: nowrap;
        font-size: 2.2rem;
        padding: 1.125rem 0;
        height: 0.5rem;
        line-height: 0.25rem;

        @include is_larger_than($sm-breakpoint) {
          width: min-content;
          padding: 1.125rem 0;

          &:before {
            content: "{";
            padding-right: 0.75rem;
          }
          &:after {
            content: "}";
            padding-left: 0.75rem;
          }
          &:before,
          &:after {
            font-size: 1.6rem;
            transform: translateY(-4px);
            display: inline-block;
            transition: transform 0.1s ease-out, text-shadow 0.1s ease-out;

            @include themed() {
              color: t($color-primary);
            }
          }
          @media (hover: hover) {
            &:hover:before,
            &:hover:after {
              transform: translateY(-5px) scale(1.1);
            }
            &:hover:before {
              @include themed() {
                text-shadow: -1px 0px 0 t($color-primary);
              }
            }
            &:hover:after {
              @include themed() {
                text-shadow: 1px 0px 0 t($color-primary);
              }
            }
          }
        }
      }
    }

    li.navlink {
      position: relative;
      flex: 1;

      @include is_larger_than($sm-breakpoint) {
        flex: 0 1 120px;
      }

      & > a {
        @include interactive();
      }
    }

    li.current {
      a {
        text-decoration: underline;
      }
    }

    @include is_larger_than($sm-breakpoint) {
      li.navlink:after {
        content: "";
        opacity: 0.2;
        position: absolute;
        height: 60%;
        width: 1px;
        top: 20%;
        right: -2px;

        @include themed() {
          border-left: 2px solid t($color-quaternary);
        }
      }
    }
    @include is_smaller_than($sm-breakpoint) {
      li.navlink:not(:first-child):not(:last-child):after {
        content: "";
        opacity: 0.2;
        position: absolute;
        width: 50%;
        height: 1px;
        left: 25%;
        bottom: -2px;

        @include themed() {
          border-top: 2px solid t($color-quaternary);
        }
      }
    }

    ul {
      max-height: $navbar-height;

      @include is_larger_than($sm-breakpoint) {
        max-height: inherit;
      }
    }
    li.navlink {
      display: none;

      @include is_larger_than($sm-breakpoint) {
        display: inherit;
      }
    }
    &.expanded {
      ul {
        max-height: inherit;
      }

      li.navlink {
        display: inherit;
      }
    }
  }
}

.menu_button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  @include is_larger_than($sm-breakpoint) {
    display: none;
  }
}

.theme_toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
