@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.photos {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: 1fr;

  &.mini {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    &.loading {
      opacity: 0;
    }

    .see_more {
      @include themed() {
        box-shadow: 0 0 0 2px rgba(t($color-quaternary), 0.2);
      }

      display: flex;
      flex-direction: column;

      & > div:first-child {
        height: 60%;
        margin: auto;
      }

      & > header {
        margin: auto;
        display: flex;
        padding: 0;
      }

      h4 {
        margin: auto;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  @include is_larger_than($sm-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include is_larger_than($md-breakpoint) {
    &.mini {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.photo {
  @include themed() {
    background-color: t($color-background-container);
  }
}

.tile {
  line-height: 0;
  font-size: 0;

  @include card($color-background-container, true);

  img {
    @include hover_scale(1.04);
  }
}
