@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.subnavigation {
  @include card();

  margin: 0 0 2rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;

  @include is_larger_than($sm-breakpoint) {
    flex-direction: row;
  }

  & > li {
    position: relative;
    width: 100%;

    @include interactive();

    a {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 0 1.25rem;
      line-height: 2rem;
      text-decoration: none;

      @include themed() {
        color: t($color-quinary);
      }
    }

    @include themed() {
      &.current {
        background: t($color-quinary);

        a {
          color: t($color-background-default);
        }
      }
    }

    @include is_larger_than($sm-breakpoint) {
      width: min-content;
    }
  }
}
