@use '../../index.scss' as *;

.image_loader {
  position: relative;
  background-color: $accent-color-darkest;

  &>svg {
    &>rect {
      fill: $accent-color-darkest;
    }
  }

  &>img {
    position: relative;
    width: 100%;
  }

  &.hidden {
    &>img {
      display: none;
    }
  }

  &:not(.hidden) {
    &>svg {
      position: absolute;
    }

    &>img {
      animation: fadeIn ease-in 0.4s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}