
$font-family: -apple-system,"Helvetica Neue",Arial,sans-serif;

$primary-color: #3D4D60;
$secondary-color: #2D3D50;
$tertiary-color: #98BEC8;

$accent-color: #C1605C;
$accent-color-darker: #81403C;
$accent-color-darkest: #71302C;

$alt-color-1: #FDF0EC;
$alt-color-2: #EDE0DC;
$alt-color-3: #DFD2CE;
$alt-color-4: #DBCDCA;

$stipple-color-1: #222A34;
$stipple-color-2: #2D1D30;
$stipple-color-3: #1D2D40;

@mixin boxshadow() {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@mixin stippled_background() {
    background:
        linear-gradient(45deg, $stipple-color-3 12%, transparent 0, transparent 88%, $stipple-color-3 0),
        linear-gradient(135deg, transparent 37%, $stipple-color-2 0, $stipple-color-2 63%, transparent 0),
        linear-gradient(45deg, transparent 37%, $stipple-color-3 0, $stipple-color-3 63%, transparent 0) $stipple-color-1;
    background-size: 10px 10px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    @include boxshadow();
    margin: 1rem;
    padding: 0.5rem 2rem 2rem 2rem;
    background: $alt-color-1;
    color: #333333;
}
