@use './shared.scss' as *;

@media screen and (min-width: $max-width) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

body {
    font-family: $font-family;
    font-weight: 300;
    padding: 0;
    opacity: 0;
}
body.font_loaded,
body.font_failed {
    animation-name: fadein;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    opacity: 1;
}

p {
    line-height: 1.5rem;
}

@font-face {
    font-family: montserrat;
    src: url('/src/assets/fonts/montserrat-light.woff2');
    font-display: block;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
