$font-family: -apple-system,"Helvetica Neue",Arial,sans-serif;

$primary-color: #3D4D60;
$secondary-color: #2D3D50;
$tertiary-color: #98BEC8;

$accent-color: #C1605C;
$accent-color-darker: #81403C;
$accent-color-darkest: #71302C;

$alt-color-1: #FDF0EC;
$stipple-color-1: #222A34;
$stipple-color-2: #2D1D30;
$stipple-color-3: #1D2D40;

@mixin boxshadow() {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@mixin stippled_background() {
    background:
        linear-gradient(45deg, $stipple-color-3 12%, transparent 0, transparent 88%, $stipple-color-3 0),
        linear-gradient(135deg, transparent 37%, $stipple-color-2 0, $stipple-color-2 63%, transparent 0),
        linear-gradient(45deg, transparent 37%, $stipple-color-3 0, $stipple-color-3 63%, transparent 0) $stipple-color-1;
    background-size: 10px 10px;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    @include boxshadow();
    margin: 2rem 1rem;
    background: $accent-color;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        min-height: 3rem;
    }

    li {
        height: 3rem;
        width: 100%;
    }
    li.logo {
        // display: flex;
        // align-items: center;
        flex: 2;
        z-index: 1;
        margin: 0 0 1rem 0;
    }
    li.navlink {
        flex: 1;
    }

    a {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        color: #333333;
        font-size: 1.5rem;
        width: 100%;
        vertical-align: top;
        line-height: 3rem;
    }
    li.logo a {
        white-space: nowrap;
        font-size: 4.8rem;
        margin: -0.5rem 0;
    }
    li.current a {
        color: #FFFFFF;
        background: $accent-color-darker;
        text-decoration: underline;
    }

    @media (hover: hover) {
        li:hover {
            background: $accent-color-darker;
        }
        li:active {
            background: $accent-color-darkest;
        }

        li.logo:hover a {
            color: #FFFFFF;
            text-shadow:
                -1px -1px 0 $accent-color-darker,
                1px -1px 0 $accent-color-darker,
                -1px 1px 0 $accent-color-darker,
                1px 1px 0 $accent-color-darker,
                -1px 0 0 $accent-color-darker,
                1px 0 0 $accent-color-darker,
                0 -1px 0 $accent-color-darker,
                0 1px 0 $accent-color-darker;
        }
        li.logo:active a {
            text-shadow:
                -1px -1px 0 $accent-color-darkest,
                1px -1px 0 $accent-color-darkest,
                -1px 1px 0 $accent-color-darkest,
                1px 1px 0 $accent-color-darkest,
                -1px 0 0 $accent-color-darkest,
                1px 0 0 $accent-color-darkest,
                0 -1px 0 $accent-color-darkest,
                0 1px 0 $accent-color-darkest;
        }

        li.navlink:hover a {
            color: #FFFFFF;
        }
        li.navlink:active a {
            text-decoration: underline;
        }
    }

    @-moz-document url-prefix() {
        li.logo a {
            margin: 0;
        }
    }

    @media only screen and (min-width: 768px) {
        ul {
            flex-direction: row;
        }

        li.logo {
            margin: 0;
        }
    }
}

main {
    @include boxshadow();
    margin: 1rem;
    padding: 0.5rem 2rem 2rem 2rem;
    background: $alt-color-1;
    color: #333333;
}
