@use './themed.scss' as *;

$font-family: montserrat, Trebuchet MS, Verdana, Geneva, sans-serif;
$roundness: 0.25rem;
$cubic-curve: cubic-bezier(0.45, 0.05, 0.55, 0.95);

$md-breakpoint: 1200px;
$sm-breakpoint: 768px;
$xs-breakpoint: 365px;

@mixin is_larger_than($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin is_smaller_than($breakpoint) {
    @media only screen and (max-width: calc($breakpoint - 1px)) { @content; }
}

@mixin text_spacing() {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

@mixin box_shadow() {
    @include themed(true) {
        box-shadow: t($default-box-shadow);
    }
}

@mixin drop_shadow() {
    @include themed(true) {
        box-shadow: t($default-drop-shadow);
    }
}

@mixin card($background, $shadow: false, $noise: false) {
    border-radius: $roundness;
    overflow: hidden;

    @if ($noise) { @include background_noise(); }
    @if ($shadow) { @include drop_shadow(); }

    @include themed(true) {
        background-color: t($background);
    }
}

@mixin hover_scale($ratio) {
    @media (hover: hover) {
        transition: transform 0.2s $cubic-curve;

        &:hover {
            transform: scale($ratio);
        }
    }
}

@mixin interactive($gutter, $hover-radius, $hover-bg, $hover-color, $active-bg, $active-color) {
    cursor: pointer;
    
    @media (hover: hover) {
        &::after {
            opacity: 0;
            content: '';
            position: absolute;
            width: calc(100% - ($gutter * 2));
            height: calc(100% - ($gutter * 2));
            top: $gutter;
            right: $gutter;
            bottom: $gutter;
            left: $gutter;
            border-radius: max(0.2rem, $hover-radius);
            transition: opacity 0.15s $cubic-curve;
            overflow: hidden;
            
            @include themed(true) {
                background: t($hover-bg);
                color: t($hover-color);
            }
        }

        &:hover::after {
            opacity: 0.2;
        }

        &:active::after {
            transition: none;
            width: 100%;
            height: 100%;
            inset: 0;
            opacity: 0.6;
            border-radius: inherit;
            
            @include themed(true) {
                background: t($active-bg);
                color: t($active-color);
            }
        }
    }
}

@mixin interactive_secondary($text-color, $highlight-color) {
    position: relative;
    text-underline-offset: 3px;
    white-space: nowrap;
    
    @include themed(true) {
        color: t($text-color);
    }

    &:after{
        content: "";
        z-index: -1;
        height: 0;
        position: absolute;
        bottom: -3px;
        left: -2px;
        right: -2px;
        transition: height .2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        
        @include themed(true) {
            background: t($highlight-color);
        }
    }

    &:hover:after {
        height: calc(100% + 6px);
    }
}

@mixin background_noise() {
    position: relative;
    &:before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
        background-size: 60px 60px;

        @include themed() {
            background-image: t($background-image-noise)
        }
    }
}

@mixin fadeup () {
    animation: fadein 1s ease-out, slideup 1s cubic-bezier(0.2, 0.75, 0, 1);
    animation-fill-mode: both;
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideup {
    0% { transform: translateY(3rem); }
    100% { transform: translateY(0); }
}

@mixin turbulence_preload() {
    filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_preload);
}
@mixin turbulence_static() {
    filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_0);
}
@mixin turbulence_animated() {
    animation: turbulence 1s linear infinite;
}
@keyframes turbulence {
    0% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_0); }
    12.5% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_1); }
    25% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_2); }
    37.5% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_3); }
    50% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_4); }
    62.5% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_5); }
    75% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_6); }
    100% { filter: url(~/src/assets/svg/filters/turbulence.svg#turbulence_7); }
}
