@use '../../shared.scss' as *;
@use '../../themed.scss' as *;

.homepage {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 1fr;
    
    @include is_larger_than($sm-breakpoint) {
        grid-template-columns: 5fr 8fr;
    }
}
