@use '../../shared.scss' as *;
@use '../../themed.scss' as *;

.homepage {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 1fr;
    
    @include is_larger_than($sm-breakpoint) {
        grid-template-columns: 5fr 8fr;
    }
}

.image {
    @include card($color-background-container, true);
}

.aboutme {
    padding: 0rem 1rem;

    @include is_larger_than($sm-breakpoint) {
        padding: 1rem 2rem;
        
        @include themed(true) {
            border-right: 3px dashed t($color-secondary);
        }
    }
    
    br ~ p {
        @include fadeup();

        &:nth-last-child(1) { animation-delay: 150ms; }
    }
    
    a {
        @include interactive_secondary($color-text-link, $color-light);
    }
    
    header {
        display: flex;

        h2 {
            flex: 1;
            
            @include themed(true) {
                color: t($color-dark);
            }
        }

        .theme_buttons {
            align-self: center;
        }
    }
}
