@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.homepage_about {
  border-radius: $roundness;
  padding: 0rem 1rem 1rem;

  @include is_larger_than($sm-breakpoint) {
    padding: 2rem 3rem;

    @include themed() {
      border: 2px dashed t($color-quaternary);
    }
  }

  .theme_buttons {
    margin-left: 0.75rem;
  }

  strong {
    font-weight: bold;
  }

  a {
    @include interactive_secondary();
  }
}
