@use "../../shared.scss" as *;
@use "../../themed.scss" as *;

.homepage_about {
  padding: 0rem 1rem;

  @include is_larger_than($sm-breakpoint) {
    padding: 1rem 2rem;

    @include themed(true) {
      border-right: 3px dashed t($color-secondary);
    }
  }

  .theme_buttons {
    margin-left: 0.75rem;
  }

  br ~ p {
    @include fadeup();

    &:nth-last-child(2) {
      animation-delay: 75ms;
    }

    &:nth-last-child(1) {
      animation-delay: 150ms;
    }
  }

  strong {
    font-weight: bold;
  }

  a {
    @include interactive_secondary($color-text-link, $color-light);
  }
}
